.attendance-summary {
  background-color: var(--dark-color);
  color: var(--light-text-color);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
  text-align: center;
}

.attendance-summary h2 {
  color: var(--light-color);
  margin: 0;
  font-size: 2rem;
}

.attendance-item {
  background-color: var(--light-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 20px;
  box-shadow: 0 2px 4px var(--shadow-color);
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.attendance-item:hover {
  box-shadow: 0 4px 12px var(--shadow-color);
}

.attendance-item h3 {
  margin: 0 0 15px;
}

.progress-bar-container {
  display: flex;
  align-items: center;
}

.progress-bar {
  width: 100%;
  background-color: #e9ecef;
  border-radius: 5px;
  margin-right: 15px;
  height: 24px;
  overflow: hidden;
}

.progress-bar-fill {
  height: 100%;
  border-radius: 5px;
  transition: width 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-color);
  font-weight: bold;
}

.progress-bar-container span {
  font-weight: bold;
  font-size: 1.1rem;
}

.attendance-details-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.attendance-details-list li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
}

.attendance-details-list li:last-child {
  border-bottom: none;
}
