.course-item {
  background-color: var(--light-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px var(--shadow-color);
  transition: box-shadow 0.3s;
}

.course-item:hover {
  box-shadow: 0 4px 12px var(--shadow-color);
}

.course-header {
  padding: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-header h2 {
  margin: 0;
  font-size: 1.2rem;
}

.course-details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out, padding 0.4s ease-in-out;
  padding: 0 20px;
  border-top: 1px solid var(--border-color);
}

.course-details.expanded {
  max-height: 1000px; /* Adjust as needed */
  padding: 20px;
}

.course-header .arrow.expanded {
  transform: rotate(90deg);
}

.roster-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.roster-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--background-alt-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.student-name {
  font-weight: bold;
}

.attendance-buttons {
  display: flex;
  gap: 0.5rem;
}

.attendance-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ccc;
  color: #fff;
  transition: background-color 0.3s;
}

.attendance-button.present.active {
  background-color: var(--success-color);
}

.attendance-button.absent.active {
  background-color: var(--danger-color);
}
