.navbar {
  background-color: var(--dark-color);
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid var(--border-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar-brand .navbar-item {
  font-weight: 700;
  font-size: 1.7rem;
  color: var(--light-text-color);
  padding: 0;
}

.navbar-menu {
  display: flex;
  gap: 10px;
}

.navbar-item {
  color: #a0a0a0;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-item:hover {
  background-color: #2a2a2a;
  color: var(--light-color);
}

.navbar-item.active {
  color: var(--light-color);
  background-color: var(--primary-color);
}

.navbar-end {
  display: flex;
  align-items: center;
}

.navbar-item-button {
  background-color: transparent;
  color: #a0a0a0;
  border: 1px solid var(--danger-color);
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-item-button:hover {
  background-color: var(--danger-color);
  color: var(--light-text-color);
  transform: none; /* Override general button hover */
  box-shadow: none; /* Override general button hover */
}
